<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">Categories</h1>

  <table class="table-auto border-collapse border border-gray-400">
    <thead>
      <tr>
        <th class="px-4 py-2 bg-gray-200 border border-gray-400">Name</th>
        <th class="px-4 py-2 bg-gray-200 border border-gray-400" colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td class="px-4 py-2 border border-gray-400"><%= category.name %></td>
          <td class="px-4 py-2 border border-gray-400"><%= link_to 'Edit', edit_category_path(category), class: "text-blue-500 hover:text-blue-700" %></td>
          <td class="px-4 py-2 border border-gray-400"><%= button_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-4">
    <%= link_to 'New Category', new_category_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
